doctype html

html
  head
    meta(charset="utf-8")
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://team6657.github.io/programming-site/styles/bulma.css")
    link(rel="stylesheet" href="https://team6657.github.io/programming-site/styles/github.css")
    script(src="https://team6657.github.io/programming-site/js/highlight.pack.js")
    script hljs.initHighlightingOnLoad();

  body
    section.hero.is-primary
      .hero-body
        p.title Team 6657 Programming Site
        p.subtitle Site for different things related to programming. Managed by UPHS FRC team 6657.
    section.section
      .container
        .columns
          .column.is-one-quarter
            block sidebar
              a(href="https://team6657.github.io/programming-site/build/java/1.html") Java Tutorial
          
          .column
            h1 I'm not sure what to put here.
            p I guess I should just put links to all other team 6657 stuff? idk.