extends base.pug

append head
  title Home

block body
  section.hero.is-primary
    .hero-body
      p.title Team 6657 Programming Site
      p.subtitle Site for different things related to programming. Managed by UPHS FRC team 6657.
  section.section
    .container
      .columns
        .column.is-one-quarter
          block sidebar
            a(href="/java/1") Java Tutorial
        
        .column
          h1 I'm not sure what to put here.
          p I guess I should just put links to all other team 6657 stuff? idk.