extends java-intro.pug

append head
  title What is Java?

block content
  h1.title What is Java?
  p Java is one of the most widely used programming languages.
    |  A programming language is used to command a computer to do a variety of tasks.
    | You may have heard of Java because of the popular game Minecraft.
    | This is ironic, though, because Java is not intended for games at all.

  br

  p A basic Java program looks like this:

  pre: code.java
    include ../../static/helloworld.java

  br

  p Next Section: <a href="https://team6657.github.io/programming-site/build/java/2.html">Installation and Your First Program</a>