extends ../base.pug

block body
  section.hero.is-primary
    .hero-body
      p.title Java Introduction
      p.subtitle A basic intro into Java. Focused on development for the roboRIO system used in the First Robotics Competition.
  section.section
    .container
      .columns
        .column.is-one-quarter
          block sidebar
            a(href="https://team6657.github.io/programming-site/") Home
            br
            a(href="https://team6657.github.io/programming-site/build/java/1.html") What is Java?
            br
            a(href="https://github.com/team6657/programming-site/build/java/2.html") Installation and Your First Program
            br
            a(href="https://team6657.github.io/programming-site/build/java/3.html") But, How?

        .column
          block content